@media screen and (max-width:840px) {
    .nav {
        flex-direction: column;
        
    }
  
  }

  
  @media screen and (max-width:601px) {
    .nav {
        flex-direction: column;
       
    }
  
  }
  

  @media screen and (max-width:840px) {
    .grid-inicio {
        display: flex;
        flex-direction: column;
    } 
  }