body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .cabecera {
  display: flex;
  background-image: url(https://es.habcdn.com/photos/project/medium/utensilios-de-cocina-2397814.jpg);
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: center;
}
.nav {
  width: 90vw;
  display: flex;
}
.lista {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.lista__item {
  margin-left: 2.9rem;
  list-style-type: none;
}
.lista__item a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  text-align: center;
}
p {
  line-height: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}
h2 {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  padding: 1rem;
  margin: 2rem;
}
.disenolistas {
  padding: 1.7rem;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}
.historia {
  font-family: "Times New Roman", Times, serif;
  margin: 2rem;
  word-spacing: 0.5rem;
  line-height: 1.5rem;
}
.fotos {
  padding: 1.5rem;
  border-radius: 3rem;
}
.formulario {
  padding: 1rem;
  margin: 1rem;
  border: black;
  background-color: #fdeff4;
  font-family: "Times New Roman", Times, serif;
}
.presentacion {
  font-weight: bolder;
  font-size: 1.2rem;
  color: black;
  width: 700px;
  flex-direction: column;
  margin: 2rem;
}
.deco {
  display: flex;
  margin-bottom: 1rem;
}
footer {
  margin: 2.5rem;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}
#inicio {
  padding: 1.3rem;
}

.grid-inicio {
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "cabecera cabecera"
    "foto texto"
    "footer footer";
  grid-template-rows: 20% 65% 15%;
  margin: 30px;
  row-gap: 40px;
  justify-content: center;
}
.caja1 {
  grid-area: cabecera;
  flex-direction: column;
  text-align: center;
}
.caja2 {
  grid-area: foto;
  flex-direction: column;
  justify-items: center;
}
.caja3 {
  grid-area: texto;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.caja4 {
  grid-area: footer;
  text-align: center;
}
.navbar-nav {
  color: #000;
}
.nav-item:hover {
  background-color: #ffc0d3;
}
.card-text {
  background-color: #ffc0d3;
}
@media screen and (max-width: 840px) {
  .nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 601px) {
  .nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 840px) {
  .grid-inicio {
    display: flex;
    flex-direction: column;
  }
}

.carousel-inner {
  width: 100%;
  margin: 30%;
  padding: 30%;
  
}
